.navbar {
   width: 100%;
}

.border {
  border: white;
}

.hymns{
	font-size: 7rem;
  color: white;
  width: 100%;
  text-align: center;
}

.displayContainer{
  background-color: #012060;
}


.langSection{
  width: 30%;
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

hr{
  border: 0;
  clear:both;
  display:block;   
  width:70%;    
  margin-top: 0px;   
  margin-bottom: 0px;
  background-color:white;
  height: 5px;
}

.nodisp{
  display: none !important;
  width: 0% !important;
}

#display-button{
  margin-top: 15px;
  background-color: #012060;
}

#clear-display-button{
  margin-top: 15px;
  background-color: #012060;
}